body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-size: cover;
}

.logo-container {
    text-align: center;
    margin-bottom: -50px; /* Adjust as needed */
}

.logo {
    width: 400px;
    position: relative;
    z-index: 10;
    margin-top: 40px; /* Add space above the logo */
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin-top: 100px; /* Space for the logo */
}

h1 {
    margin-top: 0;
}


h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

#calculate-button {
    display: block; /* Ensures the button is treated as a block element */
    margin: 20px auto; /* 'auto' left and right margins center the button horizontally */
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* This ensures any text inside is centered */
}

#calculate-button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
}
